body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 0px;
}

header {
    width: 100%;
    height: 300px;
    background-color: silver;
    text-align: center;
    color: white;
    background-image: url(images/background2.jpg);
    background-size: 100%;
    box-shadow: 0 0 5px 8px silver;
    position: relative;
}

#topLogo, #botLogo {
    display: block;
    
}

#topLogo {
    padding-top: 60px;
    font-size: 94px;
    line-height: 90%;
}

#topLogo:after {
    content: "";
    display: block;
    width: 340px;
    height: 3px;
    margin: 0 auto 20px;
    background-color: white;
}

#botLogo {
    font-size: 64px;
    line-height: 80%;
}

body h1 {
    text-align: center;
}

.main {
    margin-left: 8%;
    margin-right: 13%;
    margin-bottom: 50px;
    text-align: center;
    
}

.product {
    width: 260px;
    height: auto;
    display: inline-block;
    margin-left: 5%;
    margin-top: 20px;
    padding-top: 10px;
    border: 3px solid black;
    border-radius: 3px;
    box-shadow: 0 0 7px 10px silver;
}



.product img {
    max-width: 92%;
    height: auto;
    margin: 0 4% 0 4%;
    box-shadow: 0 7px 6px 8px silver;
}

.product p {
    margin: 10px 0 10px 0;
    padding: 0 15px 0 15px;
    font-size: 16px;
    line-height: 90%;
}

.buy {
    font-size: 18px;
    display: inline-block;
    margin-bottom: 20px;
    border: 1px solid black;

    width: 130px;
    height: 30px;

    position: relative;
    text-align: left;
}

.price {
    margin: 3px;
}

.buy a button {
    max-width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    border: 0px;
    border-radius: 0;

    background-color: #1f1f1f;
    color: white;
}

footer {
    height: 100px;
    background-color: #1f1f1f;
    box-shadow: 0 0 8px 10px #1f1f1f;
    text-align: center;
}

#giveaway {
    margin: 0;
    width: 15%;
    height: auto;
    position: absolute;
    bottom: 0;
    right: 0;
}

#giveaway a img {
    max-width: 100%;
    height: auto;
}

.inst {
    display: inline-block;
}

footer img {
    margin-right: 5px;
    margin-top: 5px;
}  

a:link {
    color: white;
    text-decoration: none;
}

.buy button:hover {
    background-color: #434040;
}

a:visited {
    color: white;
}

a:hover {
    color: silver;
}

.hidden {
    display: none;
}

form {
    padding: 10px 20px 20px;
    background-color: #fff;
    max-width: 320px;
    margin: auto;
    position: relative;
}

form input {
    font-size: 14px;
    width: 80%;
    margin-bottom: 3%;
    margin-top: 5px;
    line-height: 150%;
    box-shadow: 0 0 5px 3px silver;
}

form .order {
    background-color: #1f1f1f;
    color: white;
    border: 0px;
    border-radius: 0;

    font-size: 16px;
    line-height: 150%;
    
    width: 100px;
    height: auto;
    line-height: 160%;

    position: absolute;
    bottom: 2%;
    right: 40%;
}
 form .order:hover {
    background-color: #434040;
    box-shadow: 0 0 5px 5px silver;
 }
    